html,body {
  height: 100%;
  width: 100%;
}
header {
  margin-bottom: 50px;
}
header h1 {
  float: left;
}

.player-container {
  max-width: 350px;
}

.navbar-brand {
  width: 5%;
}
.navbar-brand img{
  width: 100%;
}

@media (max-width: 375px) { 
  audio {
    width: 200px;
  }
}
