<div class="container">
  <article id="about">
    <h2>About the Band</h2>
    <div class="row">
      <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img src="media/pictures/peteWentz.jpg" alt="Avatar">
        <div class="containercd">
          <h4><b>Pete Wentz</b></h4>
          <p>Bass Guitar & Vocals</p>
        </div>
      </div>

      <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img src="media/pictures/patricStump.jpg" alt="Avatar">
        <div class="containercd">
          <h4><b>Patric Stump</b></h4>
          <p>Guitar & Lead Vocals</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img src="media/pictures/andyHurley.jpg" alt="Avatar">
        <div class="containercd">
          <h4><b>Andy Hurley</b></h4>
          <p>Drums</p>
        </div>
      </div>

      <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img src="media/pictures/joeTrohman.jpg" alt="Avatar">
        <div class="containercd">
          <h4><b>Joe Trohman</b></h4>
          <p>Guitar</p>
        </div>
      </div>
    </div>
  </article>
</div>

<section class="container">
  <div class="player-container">
    <h2>Player</h2>
    <ul id="player" class="list-group"></ul>
  </div>
</section>
  
