<div class="container">
  <h1 class="page-heading">News</h1>
  <ul class="row list-unstyled">
    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      
      <h2>Mania Tour Merch</h2>
      
      <p><em>August 29, 2018</em></p>

      <p>M A N I A Tour merch up now in the <a href="http://store.falloutboy.com">webstore</a> - more at the shows, so come through.</p>

      <img src="/media/pictures/news1.jpg" alt="">
    </li>
    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      
      <h2>TICKETS TO THE M A N I A EXPERIENCE</h2>
      
      <p><em>August 27, 2018</em></p>

      <img class="inline-image" src="/media/pictures/news2.jpg" alt="The Mania Experience">

      <p>Tickets to The M A N I A Experience will be available for free starting tomorrow at 3pm CT. A limited number of VIP skip the line tickets will be available for purchase then as well. The ticket link will be posted tomorrow.</p>

      <p>The M A N I A Experience is an analog experience of the album. You'll be able to walk inside a three dimensional version of M A N I A and see, feel, hear, and touch all the different textures from the album.</p>

      <p>There will be a bunch of different spaces for you to walk through. Highlights include:</p>
      <ul>
        <li>Remixes of every song on M A N I A housed in a listening room that transports you to the inside of a music box - featuring SteelSeries Arctis Pro Headsets - a DTS audio partner with US headquarters in Chicago.</li>
        <li>Photo opps around every corner, including posing with Frosty and Royal Tea.</li>
        <li>Gift shop with exclusive merch only available at The M A N I A Experience.</li>
      </ul>
      <p>See you very soon Chicago!</p>
      <p>p.s. don’t forget to pick up your tickets to Wrigley Field</p>
      <p>p.p.s. throughout the weekend, use the code FOBMANIA and get 20% off your next 3 rides with Lyft, to and from The M A N I A Experience and Wrigley Field.</p>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>LAKE EFFECT KID EP - OUT NOW</h2>
      <p><em>August 23, 2018</em></p>
      <img class="inline-image" src="/media/pictures/news3.jpg" alt="ep out now">
      <p>This is our love letter to Chicago. Lake Effect Kid EP out now https://fanlink.to/lakeeffectkidep Ex-US might be a sec until you see the EP up.</p>
      <p>16 days until we’re back to the city we grew up in, playing the biggest headline show we’ve ever played before in Chicago. Still so unreal that we’re playing Wrigley Field on September 8th 😳 <a href="https://youtu.be/k4Yd3nnreOo">here’s a vid</a> with a glimpse at all the madness throughout the years - go <a href="http://cubs.com/falloutboy">get your tickets</a> to the show so we can continue getting lost in this crazy dream with you.</p>
      <p>We decided to start the party early by opening up the M A N I A Experience before the show starts on Saturday. We teamed up with so many incredible artists to help bring the album to life in a completely different lens, so get your cameras ready. There will be 12 different spaces for you to walk through (everything from a giant purple wave, to a room with music boxes filled with unreleased remixes and covers, + more). Frosty and Royal Tea will be there, in the fur, ready for some photo ops. Also gonna have a pop up shop with limited edition merch specific to the experience and Wrigley, giveaways and other fun along the way. Who knows what could happen.</p>
      <p>The M A N I A Experience will be open on September 8th and 9th. Tickets will be free and you can RSVP starting on Tuesday, but more info coming soon.</p>
      <img class="inline-image" src="/media/pictures/news2.jpg" alt="The Mania Experience">
      <p><a href="https://falloutboy.com/tour">The M A N I A Tour</a> part 2 starts next week in Long Island, see your faces soon.</p>
    </li>
  </ul>
    
</div>
