<div class="container tour">
  <h1 class="page-heading">Tour</h1>
  <ul class="row list-unstyled dates">
    <!-- <div class="col-12">
      <h2 class="text-center">No Tours Currently Schedualed</h2> 
    </div> -->
    <!-- Tour dates go here -->
    <!-- <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></li> -->
    <li class="row d-flex flex-row justify-content-between w-100 date">
      <div class="col-xs-12 col-sm-4 text-center name">
        <strong>May 31, 2019</strong>
        <p>Bunbury Music Festival</p>
      </div>
      
      <p class="col-xs-12 col-sm-4 text-center city">Cincinnati, OH</p>
     
      <div class="col-xs-12 col-sm-4 text-center button">
        <a href="https://link.seated.com/24ea52c7-581d-489b-b4be-2d2885668fb7">Ticket</a>
      </div>
    </li>
  </ul>  
</div>
